/*
======================================================================================
Table styling
*/

/* Format Table contents */

/*
  Row in innertable containing date
*/

#calendar-container {
  height: 100%;
  overflow: scroll;
}

.dateRow {
  text-align: left;
  vertical-align: top;
  padding-bottom: 80%;
}

.innerTable {
  width: 100%;
}

.innerTable > thead > tr > td,
.innerTable > tbody > tr > td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Border Styling */

/*
  Outer table
*/
/* table {
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
} */

#calendar-interface {
  float: left;
  border: 3px solid grey;
  grid-column: 1;
  grid-row: 1;
  height: 43vh;
  display: grid;
}

table {
  table-layout: fixed;
  height: 100%;
  border-collapse: collapse;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  text-align: center;
}

#calendar-toolbar {
  width: 100%;
  display: flex;
}

.calendar-toolbar-buttons {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  padding: 1%;
  margin: 1%;
  border: 3px solid #cccccc;
  border-radius: 20px;
  width: 20%;
  outline: none;
}

.calendar-toolbar-buttons:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#date-header {
  font-size: 1em;
  font-weight: bold;
  margin: 2%;
}

#day-header {
  font-size: 1.3em;
  margin-left: 3%;
  font-family: "Exo 2", sans-serif;
}

/*
  Header row containing the days of the week 
*/
.dayRow > th {
  border: 5px solid #cccccc;
}

/*
  Nested table containing the date and the events
*/
.innerTable {
  border: none;
  table-layout: fixed;
  height: 100%;
}

#Outer-Calendar > tbody > tr > td {
  padding: 0px;
  border-left: 5px solid #cccccc;
}

#Outer-Calendar > tbody > tr > td:last-child {
  border-right: 5px solid #cccccc;
}

/*
  Date and inner columns
*/
.innerTable > thead > tr,
.innerTable > tbody > tr {
  border-bottom: 5px solid #cccccc;
}

/*
  First col in calendar
*/
/* {
  border: 1px solid #000000;
} */

/*
  Last col in calendar
*/
/* tr:last-child) {
  border: 1px solid #000000;
} */
