/* General styling for whole scheduler interface */
#scheduler-interface {
  grid-column: 1;
  border: 3px solid grey;
  font-family: "Exo 2", sans-serif;
  position: relative;
  border: 1px solid #f5f2f3;
  border-radius: 20px;
  box-shadow: -10px -10px 15px rgba(211, 191, 191, 0.424),
    10px 10px 15px rgba(255, 255, 255, 0.828),
    inset -10px -10px 15px rgba(211, 191, 191, 0.424),
    inset 10px 10px 15px rgba(255, 255, 255, 0.828);
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* General styling for scheduler toolbar */
#scheduler-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  margin-top: 10px;
  margin-bottom: -20px;
}

/* General styling for date-picker */
#scheduler-toolbar .react-datepicker-popper {
  z-index: 5000;
}

#scheduler-toolbar .react-datepicker__navigation {
  height: 15%;
  box-shadow: none;
  border: none;
}

.date-picker {
  z-index: 5000;
}

.date-picker {
  width: 55%;
  margin-left: 10px;
  margin-top: 5%;
  text-align: center;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  background-color: rgb(242, 244, 251);
  border: 1px solid #dddadb;
  border-radius: 8px;
  background-color: rgb(242, 244, 251);
  box-shadow: -2px -2px 2px rgba(211, 191, 191, 0.465),
    2px 2px 2px rgba(255, 255, 255, 0.87);
}

.date-picker:hover {
  box-shadow: inset -2px -2px 2px rgba(211, 191, 191, 0.465),
    inset 2px 2px 2px rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

.date-picker:active {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.87),
    2px 2px 2px rgba(211, 191, 191, 0.465),
    inset -2px -2px 2px rgba(255, 255, 255, 0.87),
    inset 2px 2px 2px rgba(211, 191, 191, 0.465);
}

.date-picker:focus {
  background-color: white;
  outline: none;
}

#scheduler-date-div {
  width: 30%;
  margin-left: -5%;
}

/* General styling for scheduler date*/
#scheduler-date {
  font-size: 1.25em;
  margin: 0px;
  margin-left: 10px;
  color: rgba(63, 61, 61, 0.938);
}

/* Styling for buttons of scheduler toolbar*/
#scheduler-toolbar button {
  height: 70%;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.828),
    3px 3px 4px rgba(211, 191, 191, 0.424);
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#scheduler-toolbar button:hover {
  box-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.828),
    inset 3px 3px 4px rgba(211, 191, 191, 0.424);
}

#scheduler-toolbar button:active {
  box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.828),
    3px 3px 4px rgba(211, 191, 191, 0.424),
    inset -3px -3px 4px rgba(255, 255, 255, 0.828),
    inset 3px 3px 4px rgba(211, 191, 191, 0.424);
}

/* General styling for add event button*/
#add-event-button {
  border-radius: 40px;
  margin-left: 1%;
  width: 15%;
}

#add-event-button i {
  font-size: 1.2em;
  color: black;
}

#calendar-views {
  font-family: "Exo 2", sans-serif;
  margin-left: 10px;
  font-weight: bold;
  background-color: #ececec;
  width: 11%;
  margin-left: 3%;
  border-radius: 5px;
  border: 1px solid #f5f2f3;
  border-radius: 20px;
  height: 70%;
  box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.828),
    3px 3px 4px rgba(211, 191, 191, 0.424);
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#calendar-views:hover {
  box-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.828),
    inset 3px 3px 4px rgba(211, 191, 191, 0.424);
}

#calendar-views:active {
  box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.828),
    3px 3px 4px rgba(211, 191, 191, 0.424),
    inset -3px -3px 4px rgba(255, 255, 255, 0.828),
    inset 3px 3px 4px rgba(211, 191, 191, 0.424);
}

#calendar-views option {
  background-color: #f5f2f3;
  font-weight: bold;
}

#calendar-views:focus {
  outline: none;
}

/* General styling for today button */
#today-button {
  border-radius: 40px;
  width: 13%;
  margin-left: -5%;
}

#navigate-calendar {
  width: 15%;
  margin-left: -5%;
  margin-right: 2%;
  height: 90%;
}

#scheduler-left-button {
  width: 50%;
  margin-top: 3%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#scheduler-left-button i {
  font-size: 1.5em;
}

#scheduler-right-button i {
  font-size: 1.5em;
}

#scheduler-right-button {
  width: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/* General styling for scheduler */
#scheduler {
  height: 92.7%;
  cursor: pointer;
  z-index: 5000;
}

/* General styling for event form */
#event-form-header {
  display: flex;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
}

#event-form-header h2 {
  text-decoration: underline;
  padding-left: 3%;
  margin-bottom: -2%;
  color: rgb(80, 75, 75);
}

#event-close-button {
  width: 4%;
  height: 5%;
  background: transparent;
  border: none;
}

#event-close-button:after {
  font-family: FontAwesome;
  content: "\f410";
  font-size: 30px;
  cursor: pointer;
}

#event-close-button:hover {
  background: none;
}

#event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  margin-top: 5%;
  font-family: "Exo 2", sans-serif;
  font-size: 1.3em;
  color: rgb(80, 75, 75);
}

#event-form div {
  display: flex;
  gap: 3%;
  justify-content: center;
  align-items: center;
}

#event-form-title {
  height: 23px;
  width: 200px;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  margin-left: 5px;
  padding-left: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

#event-form-title:hover {
  background: whitesmoke;
}

#event-form-title:focus {
  background: white;
  outline: none;
}

#event-form-start,
#event-form-end {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  height: 23px;
  margin-left: -40px;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  cursor: pointer;
  width: 140px;
}

#event-form-start:hover,
#event-form-end:hover {
  background: whitesmoke;
}

#event-form-start:focus,
#event-form-end:focus {
  background-color: white;
  outline: none;
}

#event-form-end {
  margin-left: -30px;
}

#event-form input[type="checkbox"] {
  cursor: pointer;
}

#event-form-color {
  cursor: pointer;
}

#event-form-submit {
  cursor: pointer;
  width: 110px;
  height: 40px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 10px;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.828),
    4px 4px 5px rgba(211, 191, 191, 0.424);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#event-form-submit:hover {
  box-shadow: inset -5px -5px 6px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
}

#event-form-submit:active {
  box-shadow: -5px -5px 6px rgba(211, 191, 191, 0.424),
    5px 5px 5px rgba(255, 255, 255, 0.828),
    inset -5px -5px 6px rgba(211, 191, 191, 0.424),
    inset 5px 5px 5px rgba(255, 255, 255, 0.828);
}

.add-start-time,
.add-end-time {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.828),
    4px 4px 5px rgba(211, 191, 191, 0.424);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

.add-start-time:hover,
.add-end-time:hover {
  box-shadow: inset -5px -5px 6px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
}

.add-start-time:active,
.add-end-time:active {
  box-shadow: -5px -5px 6px rgba(211, 191, 191, 0.424),
    5px 5px 5px rgba(255, 255, 255, 0.828),
    inset -5px -5px 6px rgba(211, 191, 191, 0.424),
    inset 5px 5px 5px rgba(255, 255, 255, 0.828);
}

#event-form-start-time,
#event-form-end-time {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  cursor: pointer;
  width: 100px;
  height: 25px;
}

#event-form-start-time:hover,
#event-form-end-time:hover {
  background-color: whitesmoke;
}

#event-form-start-time:focus,
#event-form-end-time:focus {
  background-color: white;
  outline: none;
}

#event-form-reminders {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.828),
    4px 4px 5px rgba(211, 191, 191, 0.424);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#event-form-reminders:hover {
  box-shadow: inset -5px -5px 6px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
}

#event-form-reminders:active {
  box-shadow: -5px -5px 6px rgba(211, 191, 191, 0.424),
    5px 5px 5px rgba(255, 255, 255, 0.828),
    inset -5px -5px 6px rgba(211, 191, 191, 0.424),
    inset 5px 5px 5px rgba(255, 255, 255, 0.828);
}

#event-form-reminders option {
  font-weight: bold;
}

/* General styling for edit form */
#edit-form-header {
  display: flex;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
  align-items: center;
  margin-top: -4%;
  margin-bottom: -4%;
}

#edit-form-header h2 {
  text-decoration: underline;
  padding-left: 2%;
  margin-bottom: 5%;
  color: rgb(80, 75, 75);
}

#edit-event-close-button {
  width: 16%;
  height: 10%;
  background: transparent;
  border: none;
  position: fixed;
}

#edit-event-close-button:after {
  font-family: FontAwesome;
  content: "\f410";
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 27%;
  right: 42%;
}

#edit-event-close-button:hover {
  background: none;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
  margin-top: 5%;
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  color: rgb(80, 75, 75);
}

#edit-form div {
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

#edit-form-title {
  height: 25px;
  padding-left: 10px;
  margin-left: 2%;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  cursor: pointer;
  width: 170px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

#edit-form-title:hover {
  background: whitesmoke;
}

#edit-form-title:focus {
  background: white;
  outline: none;
}

#edit-start-label,
#edit-end-label {
  margin-right: 20px;
}

#edit-form-start,
#edit-form-end {
  height: 30px;
  margin-left: -50px;
  cursor: pointer;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  cursor: pointer;
  width: 130px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

#edit-form-start:hover,
#edit-form-end:hover {
  background-color: whitesmoke;
}

#edit-form-start:focus,
#edit-form-end:focus {
  background-color: white;
  outline: none;
}

#edit-form-start-time,
#edit-form-end-time {
  cursor: pointer;
  border: 1px solid #dddadb;
  border-radius: 10px;
  background-color: rgb(242, 244, 251);
  cursor: pointer;
  width: 100px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  height: 25px;
}

#edit-form-start-time:hover,
#edit-form-end-time:hover {
  background-color: whitesmoke;
}

#edit-form-start-time:focus,
#edit-form-end-time:focus {
  background-color: white;
  outline: none;
}

#edit-form-end {
  margin-left: -43px;
}

#edit-form-allday {
  margin-left: -10px;
  cursor: pointer;
}

#edit-form-reminders {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.828),
    4px 4px 5px rgba(211, 191, 191, 0.424);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#edit-form-reminders:hover {
  box-shadow: inset -5px -5px 6px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
}

#edit-form-reminders:active {
  box-shadow: -5px -5px 6px rgba(211, 191, 191, 0.424),
    5px 5px 5px rgba(255, 255, 255, 0.828),
    inset -5px -5px 6px rgba(211, 191, 191, 0.424),
    inset 5px 5px 5px rgba(255, 255, 255, 0.828);
}

#edit-form-reminders option {
  font-weight: bold;
}

#edit-form-submit,
#edit-form-remove {
  width: 120px;
  height: 40px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  border: 1px solid #f5f2f3;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.828),
    4px 4px 5px rgba(211, 191, 191, 0.424);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(80, 75, 75);
  background-color: #f5f2f3;
}

#edit-form-remove {
  margin-right: 40px;
}

#edit-form-footer {
  margin-top: 15px;
}

#edit-form-submit:hover,
#edit-form-remove:hover {
    box-shadow: inset -5px -5px 6px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
}

#edit-form-submit:active,
#edit-form-remove:active {
    box-shadow: -5px -5px 6px rgba(211, 191, 191, 0.424),
    5px 5px 5px rgba(255, 255, 255, 0.828),
    inset -5px -5px 6px rgba(211, 191, 191, 0.424),
    inset 5px 5px 5px rgba(255, 255, 255, 0.828);
}

#discard-prompt p {
  font-weight: bold;
  margin-top: 1%;
}

#discard-prompt button {
  font-family: "Exo 2", sans-serif;
  padding: 5px;
  float: right;
  margin: 0 3px;
  margin-top: 6%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: white;
}

#discard-prompt button:hover {
  background-color: rgba(182, 178, 178, 0.13);
}

#discard-bt {
  color: red;
}

#cancel-bt {
  color: rgb(66, 64, 64);
}

.circle-picker div span {
  width: 20px;
  height: 20px;
  margin: 5px;
}
