/* General styling for whole scheduler interface */
#scheduler-interface {
  grid-column: 1;
  border: 3px solid grey;
  font-family: "Exo 2", sans-serif;
  position: relative;
}

/* General styling for scheduler toolbar */
#scheduler-toolbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 7%;
}

/* General styling for date-picker */
#date-picker {
  grid-column: 3;
  grid-row: 1 / 2;
  margin-top: 10%;
  z-index: 1000;
  margin-left: 8%;
  width: 87%;
}

.react-datepicker__input-container input {
  width: 80%;
  padding-left: 20%;
}

/* General styling for scheduler date*/
#scheduler-date {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  text-align: center;
  font-size: 1.2em;
  margin-top: -2%;
  margin-left: 3%;
}

/* General styling for today button */
#today-button {
  grid-column: 1;
  grid-row: 1 / 3;
  border-radius: 40%;
  margin-top: 10%;
  width: 70%;
  margin-left: 10%;
}

/* General styling for add event button*/
#add-event-button {
  grid-column: 2;
  grid-row: 1 / 3;
  border-radius: 40%;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: -10%;
  width: 80%;
}

#scheduler-back-button {
  grid-column: 1 / 3;
  grid-row: 3;
  border-radius: 20%;
  width: 50%;
  margin-left: 18%;
  margin-top: 3%;
}

/* General styling for day button */
#day-button,
#month-button {
  grid-column: 4;
  grid-row: 1 / 3;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-right: -40%;
  margin-left: 90%;
  margin-top: 10%;
}

/* General styling for list button */
#list-button,
#week-button {
  grid-column: 5;
  grid-row: 1 / 3;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  margin-right: 20%;
  margin-top: 10%;
  margin-left: 30%;
}

/* Styling for buttons of scheduler toolbar*/
#scheduler-toolbar button {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border: 2px solid #ececec;
  height: 80%;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

#scheduler-toolbar button:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
}

#scheduler-toolbar button:active {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

/* General styling for scheduler */
#scheduler {
  height: 93%;
}

/* General styling for event form */
#event-form-header {
  display: flex;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
}

#event-form-header h2 {
  text-decoration: underline;
  padding-left: 3%;
}

#event-close-button {
  width: 4%;
  height: 5%;
  background: transparent;
  border: none;
}

#event-close-button:after {
  font-family: FontAwesome;
  content: "\f410";
  font-size: 30px;
  cursor: pointer;
}

#event-close-button:hover {
  background: lightgrey;
}

#event-close-button:active {
  background: grey;
}

#event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 5%;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
}

#event-form div {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

#event-form-title {
  border: 3px solid grey;
  height: 25px;
}

#event-form-title:hover {
  background: lightgrey;
}

#event-form-start,
#event-form-end {
  height: 30px;
  margin-left: -50px;
  border: 3px solid grey;
  cursor: pointer;
}

#event-form-allday {
  margin-left: -10px;
  cursor: pointer;
}

#event-form-color {
  cursor: pointer;
}

#event-form-submit {
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  border: 3px solid grey;
  border-radius: 10px;
}

#event-form-submit:hover {
  background: lightgrey;
}

/* General styling for edit form */
#edit-form-header {
  display: flex;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
  align-items: center;
  margin-top: -4%;
}

#edit-form-header h2 {
  text-decoration: underline;
  padding-left: 2%;
  margin-bottom: 5%;
}

#edit-close-button {
  width: 16%;
  height: 10%;
  background: transparent;
  border: none;
}

#edit-close-button:after {
  font-family: FontAwesome;
  content: "\f410";
  font-size: 30px;
  cursor: pointer;
}

#edit-close-button:hover {
  background: lightgrey;
}

#edit-close-button:active {
  background: grey;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
  margin-top: 5%;
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
}

#edit-form div {
  display: flex;
  gap: 15%;
  justify-content: center;
  align-items: center;
}

#edit-form-title {
  border: 3px solid grey;
  height: 25px;
  margin-left: 9%;
}

#edit-form-title:hover {
  background: lightgrey;
}

#edit-form-start,
#edit-form-end {
  height: 30px;
  margin-left: -50px;
  border: 3px solid grey;
  cursor: pointer;
}

#edit-form-end {
  margin-left: -43px;
}

#edit-form-allday {
  margin-left: -10px;
  cursor: pointer;
}

#edit-form-color {
  cursor: pointer;
}

#edit-form-submit,
#edit-form-remove {
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  border: 3px solid grey;
  border-radius: 10px;
}

#edit-form-remove {
  width: 140px;
}

#edit-form-footer {
  margin-top: 15px;
}

#edit-form-submit:hover,
#edit-form-remove:hover {
  background: lightgrey;
}
