/* General styling of the main-interface */
/* ============================================================================ */
#journal-interface {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

/* Styling for top header of journal */
/* ============================================================================ */
#journal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the back-button */
/* ============================================================================ */

#back-button {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 35%;
  border: 4px solid #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-button:after {
  font-family: FontAwesome;
  content: "\f053";
  font-size: 25px;
  color: #7a7a7a;
}

#back-button:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
}

#back-button:active {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

#back-button:active:after {
  color: #365fe6a1;
}

/* Styling for the mode toolbar */
/* ============================================================================ */

#mode-switch {
  visibility: hidden;
}

/* The mode switch background */
#mode-switch + label {
  cursor: pointer;
  text-indent: -9999px;
  width: 90px;
  height: 40px;
  display: block;
  border-radius: 100px;
  position: relative;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

#mode-switch + label:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
}

/* The circle of the mode switch */
#mode-switch + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 90px;
  background: grey;
  transition: 0.5s;
}

/* The mode switch to change background color */
#mode-switch:checked + label {
  background: #244fdfa1;
  transition: 2s;
}

/* The movement of the circle after checked */
#mode-switch:checked + label:after {
  left: calc(100% - 5px);
  /* Moves the circle in the opposite direction of the previous iteration each time
  the switch is toggled */
  transform: translateX(-100%);
  background: white;
}

/* Makes circle wider when clicked */
#mode-switch + label:active:after {
  width: 50px;
}

/* ============================================================================ */

/* Styling for second header of journal */
/* Editing mode */
#date-with-toolbar-editing {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgba(168, 161, 161, 0.507);
  border-top: 3px solid rgba(168, 161, 161, 0.507);
  height: 50px;
}

.pop {
  animation-name: pop;
  animation-duration: 2s;
}

/* Animation for showing date with toolbar */
@keyframes pop {
  from {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  to {
    height: 50px;
    visibility: visible;
    opacity: 1;
  }
}

.collapse {
  animation-name: collapse;
  animation-duration: 3s;
}

/* Animaton for hiding date with toolbar */
@keyframes collapse {
  from {
    height: 50px;
    visibility: visible;
    opacity: 1;
  }
  to {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
}

/* Styling for date */

.appear {
  animation-name: appear;
  animation-duration: 2s;
}

.hide {
  animation-name: hide;
  animation-duration: 3s;
}
/* Animation for hiding markdown toolbar and date */
@keyframes hide {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/* Animation for showing markdown toolbar and date */
@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

#edit-area > input,
#edit-area > textarea {
  border: none;
  display: block;
  font-family: "Exo 2", sans-serif;
}

#journal-input-edit {
  width: 100%;
  height: 100%;
  overflow: visible;
  resize: none;
}
#journal-title-edit {
  width: 100%;
  resize: none;
}

/* Styling for journal title in preview mode */
#journal-title-preview,
#journal-title-edit {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px rgb(80, 78, 78) inset;
}

/* Styling of the edit and preview area */
#edit-area,
#preview-area {
  font-size: 1.5vw;
  border: 3px solid rgba(168, 161, 161, 0.507);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  outline: none;
  align-self: center;
  justify-content: center;
  resize: none;
  font-family: "Exo 2", sans-serif;
  background: white;
  overflow: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

/* General styling for the scrollbar */
#edit-area::-webkit-scrollbar-track,
#preview-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(143, 139, 139, 0.3);
  border-radius: 20px;
  background-color: #f5f5f5;
}

#edit-area::-webkit-scrollbar,
#preview-area::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

#edit-area::-webkit-scrollbar-thumb,
#preview-area::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(80, 78, 78);
  box-shadow: inset 0px 0px 6px rgba(58, 57, 57, 0.3);
}

/* Styling for journal area */
#edit-area {
  width: 40vw;
  height: 70vh;
}

.contract {
  animation-name: contract;
  animation-duration: 2s;
}

/* Animation for journal area */
@keyframes contract {
  from {
    height: 75vh;
    width: 90%;
    opacity: 0.4;
  }
  to {
    height: 70vh;
    width: 40vw;
    opacity: 1;
  }
}

/* Styling for preview area */
#preview-area {
  height: 75vh;
  width: 90%;
}

.expand {
  animation-name: expand;
  animation-duration: 3s;
}

/* Animation for the preview-area */
@keyframes expand {
  from {
    height: 70vh;
    width: 40vw;
    opacity: 0.4;
  }
  to {
    height: 75vh;
    width: 90%;
    opacity: 1;
  }
}

/* Styling of the markdown toolbar */
#markdown-toolbar {
  list-style-type: none;
  padding-right: 2%;
}

/* Styling of the markdown toolbar buttons */
.markdowntb-bt {
  padding: 3px 15px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border: 4px solid #ececec;
  border-radius: 10px;
}

.markdowntb-bt:hover {
  cursor: pointer;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.markdowntb-bt:active {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

#docs-link {
  align-self: center;
  font-family: "Pacifico", cursive;
  font-size: 1em;
}
