#journal {
  font-size: 0.4vw;
  padding: 20px;
  margin: 5%;
  outline: none;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  background: white;
  height: 30vh;
  width: 73%;
  position: relative;
  overflow: visible;
  border: 1px solid #f5f2f3;
  border-radius: 20px;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.828),
    5px 5px 5px rgba(211, 191, 191, 0.424),
    inset -5px -5px 5px rgba(255, 255, 255, 0.828),
    inset 5px 5px 5px rgba(211, 191, 191, 0.424);
  cursor: pointer;
}

#journal:hover {
  box-shadow: -5px -5px 15px rgba(211, 191, 191, 0.424),
    5px 5px 15px rgba(255, 255, 255, 0.828),
    inset -5px -5px 15px rgba(211, 191, 191, 0.424),
    inset 5px 5px 15px rgba(255, 255, 255, 0.828);
}

#entry-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px rgb(80, 78, 78) inset;
}

#entry-text {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 100%;
  width: 100%;
}

#journal button {
  padding: 0;
  border: none;
  background: none;
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 13px;
  z-index: 1;
  cursor: pointer;
  color: rgb(248, 18, 18);
}

#journal:hover button {
  padding: 0;
  border: none;
  background: none;
  display: block;
  position: absolute;
}

#journal button:hover {
  color: rgb(49, 155, 241);
}
