#journal {
  font-size: 0.4vw;
  border: 3px solid rgba(168, 161, 161, 0.507);
  border-radius: 10px 10px;
  padding: 20px;
  margin: 5%;
  outline: none;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  background: white;
  height: 300px;
  width: 200px;
  position: relative;
  overflow: visible;
}

#entry-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px rgb(80, 78, 78) inset;
}
#entry-text {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 100%;
  width: 100%;
}

#journal button {
  padding: 0;
  border: none;
  background: none;
  display: none;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 30px;
  z-index: 1;
}

#journal:hover button {
  padding: 0;
  border: none;
  background: none;
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 30px;
}

.fa-times-circle {
  color: rgb(189, 53, 53);
}

.fa-times-circle:hover {
  color: rgb(52, 105, 148);
}
